@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.Mvc


@{
    Sitecore.Data.Fields.ImageField heroImageField = Model.Item.Fields["HeroImage"];
    string heroImageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(heroImageField.MediaItem);
}

<div id="Header" style="background: white url('@heroImageUrl') no-repeat;background-size: cover;">
    @Html.Sitecore().Field("HeroLogo", Model.Item, new { @id = "scLogo" })
</div>