<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<sites>
			<site patch:before="site[@name='website']"
				  inherits="website"
				  name="GameStoreProject"
				  hostName="gamestoreproject.local"
				  rootPath="/sitecore/content/Home"
				  startItem="/Game Store"
				  database="web"
				  htmlCacheSize="300MB"
				  cacheHtml="true" />
		</sites>
	</sitecore>
</configuration>